In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import *

In [2]:
spark = SparkSession.builder.appName('Test').getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/08/17 15:03:49 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [3]:
datetimes = [("2014-02-28", "2014-02-28 10:00:00.123"),
                     ("2016-02-29", "2016-02-29 08:08:08.999"),
                     ("2017-10-31", "2017-12-31 11:59:59.123"),
                     ("2019-11-30", "2019-08-31 00:00:00.000")
                ]

In [12]:
datetimesDF = spark.createDataFrame(datetimes).toDF('date','timestamp')

In [13]:
datetimesDF.show(truncate = False)

+----------+-----------------------+
|date      |timestamp              |
+----------+-----------------------+
|2014-02-28|2014-02-28 10:00:00.123|
|2016-02-29|2016-02-29 08:08:08.999|
|2017-10-31|2017-12-31 11:59:59.123|
|2019-11-30|2019-08-31 00:00:00.000|
+----------+-----------------------+

In [24]:
datetimesDF.withColumn('trunc date',trunc('date','yy')). \
            withColumn('trunc timestamp',trunc('timestamp','MM')). \
            withColumn('date trunc date',date_trunc('MM','date')). \
            withColumn('date trunc timestamp',date_trunc('dd','timestamp')). \
            show(truncate = False)

+----------+-----------------------+----------+---------------+-------------------+--------------------+
|date      |timestamp              |trunc date|trunc timestamp|date trunc date    |date trunc timestamp|
+----------+-----------------------+----------+---------------+-------------------+--------------------+
|2014-02-28|2014-02-28 10:00:00.123|2014-01-01|2014-02-01     |2014-02-01 00:00:00|2014-02-28 00:00:00 |
|2016-02-29|2016-02-29 08:08:08.999|2016-01-01|2016-02-01     |2016-02-01 00:00:00|2016-02-29 00:00:00 |
|2017-10-31|2017-12-31 11:59:59.123|2017-01-01|2017-12-01     |2017-10-01 00:00:00|2017-12-31 00:00:00 |
|2019-11-30|2019-08-31 00:00:00.000|2019-01-01|2019-08-01     |2019-11-01 00:00:00|2019-08-31 00:00:00 |
+----------+-----------------------+----------+---------------+-------------------+--------------------+

In [27]:
datetimesDF.withColumn('date trunc hour',date_trunc('HOUR','date')).show()

+----------+--------------------+-------------------+
|      date|           timestamp|    date trunc hour|
+----------+--------------------+-------------------+
|2014-02-28|2014-02-28 10:00:...|2014-02-28 00:00:00|
|2016-02-29|2016-02-29 08:08:...|2016-02-29 00:00:00|
|2017-10-31|2017-12-31 11:59:...|2017-10-31 00:00:00|
|2019-11-30|2019-08-31 00:00:...|2019-11-30 00:00:00|
+----------+--------------------+-------------------+