In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import *

In [2]:
spark = SparkSession.builder.appName('Test').getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/08/15 09:26:33 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [3]:
l = [('X', )]

In [4]:
df = spark.createDataFrame(l, "dummy STRING")

In [5]:
df.printSchema()

root
 |-- dummy: string (nullable = true)

In [6]:
df.show()

+-----+
|dummy|
+-----+
|    X|
+-----+

In [7]:
df.select(current_date()).show()

+--------------+
|current_date()|
+--------------+
|    2023-08-15|
+--------------+

In [8]:
df.select(current_date().alias('current_date')).show()

+------------+
|current_date|
+------------+
|  2023-08-15|
+------------+

In [9]:
employees = [
    (1, "Scott", "Tiger", 1000.0, 
      "united states", "+1 123 456 7890", "123 45 6789"
    ),
     (2, "Henry", "Ford", 1250.0, 
      "India", "+91 234 567 8901", "456 78 9123"
     ),
     (3, "Nick", "Junior", 750.0, 
      "united KINGDOM", "+44 111 111 1111", "222 33 4444"
     ),
     (4, "Bill", "Gomes", 1500.0, 
      "AUSTRALIA", "+61 987 654 3210", "789 12 6118"
     )
]

In [10]:
len(employees)

4

In [16]:
employeeDF = spark.createDataFrame(employees, schema = """Emp_id INT, First_Name STRING, Last_Name STRING,
Salary FLOAT,Country STRING, Phone STRING,SSN STRING""")

In [18]:
employeeDF.printSchema()

root
 |-- Emp_id: integer (nullable = true)
 |-- First_Name: string (nullable = true)
 |-- Last_Name: string (nullable = true)
 |-- Salary: float (nullable = true)
 |-- Country: string (nullable = true)
 |-- Phone: string (nullable = true)
 |-- SSN: string (nullable = true)

In [19]:
employeeDF.show()

+------+----------+---------+------+--------------+----------------+-----------+
|Emp_id|First_Name|Last_Name|Salary|       Country|           Phone|        SSN|
+------+----------+---------+------+--------------+----------------+-----------+
|     1|     Scott|    Tiger|1000.0| united states| +1 123 456 7890|123 45 6789|
|     2|     Henry|     Ford|1250.0|         India|+91 234 567 8901|456 78 9123|
|     3|      Nick|   Junior| 750.0|united KINGDOM|+44 111 111 1111|222 33 4444|
|     4|      Bill|    Gomes|1500.0|     AUSTRALIA|+61 987 654 3210|789 12 6118|
+------+----------+---------+------+--------------+----------------+-----------+

In [23]:
employeeDF.withColumn('Full_Name',concat('First_Name',lit(' '),'Last_Name')).show()

+------+----------+---------+------+--------------+----------------+-----------+-----------+
|Emp_id|First_Name|Last_Name|Salary|       Country|           Phone|        SSN|  Full_Name|
+------+----------+---------+------+--------------+----------------+-----------+-----------+
|     1|     Scott|    Tiger|1000.0| united states| +1 123 456 7890|123 45 6789|Scott Tiger|
|     2|     Henry|     Ford|1250.0|         India|+91 234 567 8901|456 78 9123| Henry Ford|
|     3|      Nick|   Junior| 750.0|united KINGDOM|+44 111 111 1111|222 33 4444|Nick Junior|
|     4|      Bill|    Gomes|1500.0|     AUSTRALIA|+61 987 654 3210|789 12 6118| Bill Gomes|
+------+----------+---------+------+--------------+----------------+-----------+-----------+