In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import *

In [2]:
spark = SparkSession.builder.appName('Test').getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/08/22 02:10:39 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [3]:
employees = [(1, "Scott", "Tiger", 1000.0, 10,
                      "united states", "+1 123 456 7890", "123 45 6789"
                     ),
                     (2, "Henry", "Ford", 1250.0, None,
                      "India", "+91 234 567 8901", "456 78 9123"
                     ),
                     (3, "Nick", "Junior", 750.0, '',
                      "united KINGDOM", "+44 111 111 1111", "222 33 4444"
                     ),
                     (4, "Bill", "Gomes", 1500.0, 10,
                      "AUSTRALIA", "+61 987 654 3210", "789 12 6118"
                     )
                ]

In [8]:
employeesDF = spark.createDataFrame(employees). \
    toDF('id','first_name','last_name','salary','bonus','nationality','phone_number','ssn')

In [9]:
employeesDF.show()

+---+----------+---------+------+-----+--------------+----------------+-----------+
| id|first_name|last_name|salary|bonus|   nationality|    phone_number|        ssn|
+---+----------+---------+------+-----+--------------+----------------+-----------+
|  1|     Scott|    Tiger|1000.0|   10| united states| +1 123 456 7890|123 45 6789|
|  2|     Henry|     Ford|1250.0| null|         India|+91 234 567 8901|456 78 9123|
|  3|      Nick|   Junior| 750.0|     |united KINGDOM|+44 111 111 1111|222 33 4444|
|  4|      Bill|    Gomes|1500.0|   10|     AUSTRALIA|+61 987 654 3210|789 12 6118|
+---+----------+---------+------+-----+--------------+----------------+-----------+

In [10]:
employeesDF.printSchema()

root
 |-- id: long (nullable = true)
 |-- first_name: string (nullable = true)
 |-- last_name: string (nullable = true)
 |-- salary: double (nullable = true)
 |-- bonus: string (nullable = true)
 |-- nationality: string (nullable = true)
 |-- phone_number: string (nullable = true)
 |-- ssn: string (nullable = true)

In [11]:
employeedDF.filter("first_name like 'Sco%'").show()

+---+----------+---------+------+-----+-------------+---------------+-----------+
| id|first_name|last_name|salary|bonus|  nationality|   phone_number|        ssn|
+---+----------+---------+------+-----+-------------+---------------+-----------+
|  1|     Scott|    Tiger|1000.0|   10|united states|+1 123 456 7890|123 45 6789|
+---+----------+---------+------+-----+-------------+---------------+-----------+

In [12]:
employeedDF.filter("upper(first_name) like 'SCO%'").show()

+---+----------+---------+------+-----+-------------+---------------+-----------+
| id|first_name|last_name|salary|bonus|  nationality|   phone_number|        ssn|
+---+----------+---------+------+-----+-------------+---------------+-----------+
|  1|     Scott|    Tiger|1000.0|   10|united states|+1 123 456 7890|123 45 6789|
+---+----------+---------+------+-----+-------------+---------------+-----------+

In [13]:
employeedDF.filter(col('first_name').like('Sco%')).show()

+---+----------+---------+------+-----+-------------+---------------+-----------+
| id|first_name|last_name|salary|bonus|  nationality|   phone_number|        ssn|
+---+----------+---------+------+-----+-------------+---------------+-----------+
|  1|     Scott|    Tiger|1000.0|   10|united states|+1 123 456 7890|123 45 6789|
+---+----------+---------+------+-----+-------------+---------------+-----------+

In [15]:
employeedDF.filter(upper(col('first_name')).like('SCO%')).show()

+---+----------+---------+------+-----+-------------+---------------+-----------+
| id|first_name|last_name|salary|bonus|  nationality|   phone_number|        ssn|
+---+----------+---------+------+-----+-------------+---------------+-----------+
|  1|     Scott|    Tiger|1000.0|   10|united states|+1 123 456 7890|123 45 6789|
+---+----------+---------+------+-----+-------------+---------------+-----------+

In [19]:
employeesDF.filter(col('first_name').like('%ott%')).show()

+---+----------+---------+------+-----+-------------+---------------+-----------+
| id|first_name|last_name|salary|bonus|  nationality|   phone_number|        ssn|
+---+----------+---------+------+-----+-------------+---------------+-----------+
|  1|     Scott|    Tiger|1000.0|   10|united states|+1 123 456 7890|123 45 6789|
+---+----------+---------+------+-----+-------------+---------------+-----------+

In [20]:
employeesDF.filter(~col('phone_number').like('+44%')).show()

+---+----------+---------+------+-----+-------------+----------------+-----------+
| id|first_name|last_name|salary|bonus|  nationality|    phone_number|        ssn|
+---+----------+---------+------+-----+-------------+----------------+-----------+
|  1|     Scott|    Tiger|1000.0|   10|united states| +1 123 456 7890|123 45 6789|
|  2|     Henry|     Ford|1250.0| null|        India|+91 234 567 8901|456 78 9123|
|  4|      Bill|    Gomes|1500.0|   10|    AUSTRALIA|+61 987 654 3210|789 12 6118|
+---+----------+---------+------+-----+-------------+----------------+-----------+