In [1]:
#Overview of Dataframe

In [2]:
from pyspark.sql import SparkSession

In [16]:
spark = SparkSession.builder.appName('Test').getOrCreate()

In [17]:
employees = [(1, "Scott", "Tiger", 1000.0, "united states"),
             (2, "Henry", "Ford", 1250.0, "India"),
             (3, "Nick", "Junior", 750.0, "united KINGDOM"),
             (4, "Bill", "Gomes", 1500.0, "AUSTRALIA")
            ]

In [18]:
employeesDF = spark.createDataFrame(employees, 
                                    schema = 
                                    """Emp_ID INT,First_Name STRING,
                                    Last_Name STRING,Salary FLOAT,Country STRING""")

In [19]:
employeesDF.show()

+------+----------+---------+------+--------------+
|Emp_ID|First_Name|Last_Name|Salary|       Country|
+------+----------+---------+------+--------------+
|     1|     Scott|    Tiger|1000.0| united states|
|     2|     Henry|     Ford|1250.0|         India|
|     3|      Nick|   Junior| 750.0|united KINGDOM|
|     4|      Bill|    Gomes|1500.0|     AUSTRALIA|
+------+----------+---------+------+--------------+

In [20]:
employeesDF.printSchema()

root
 |-- Emp_ID: integer (nullable = true)
 |-- First_Name: string (nullable = true)
 |-- Last_Name: string (nullable = true)
 |-- Salary: float (nullable = true)
 |-- Country: string (nullable = true)

In [21]:
from pyspark.sql.functions import *

In [22]:
employeesDF.withColumn('Full_Name',concat('First_Name',lit(' '),'Last_Name')).show()

+------+----------+---------+------+--------------+-----------+
|Emp_ID|First_Name|Last_Name|Salary|       Country|  Full_Name|
+------+----------+---------+------+--------------+-----------+
|     1|     Scott|    Tiger|1000.0| united states|Scott Tiger|
|     2|     Henry|     Ford|1250.0|         India| Henry Ford|
|     3|      Nick|   Junior| 750.0|united KINGDOM|Nick Junior|
|     4|      Bill|    Gomes|1500.0|     AUSTRALIA| Bill Gomes|
+------+----------+---------+------+--------------+-----------+

In [23]:
s = [1,2,3,4]

In [27]:
employeesDF = employeesDF.withColumn("experience", 
                                     expr(f"array({','.join(map(str, s))})[First_Name]")).show()

AttributeError: 'NoneType' object has no attribute 'withColumn'

In [25]:
employeesDF.Select('*',concat('First_Name', lit(' '), 'Last_Name').alias('Full_Name')).show()

AttributeError: 'NoneType' object has no attribute 'Select'

In [26]:
employeesDF. \
    select("employee_id",
           concat("first_name", lit(", "), "last_name").alias("full_name"),
           "salary",
           "nationality"
          ). \
    show()

AttributeError: 'NoneType' object has no attribute 'select'