In [2]:
from pyspark.sql.functions import *
from pyspark.sql import SparkSession

In [3]:
spark = SparkSession.builder.appName('Test').getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/08/15 14:25:51 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
23/08/15 14:25:52 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [5]:
l = [('X',)]

In [9]:
df = spark.createDataFrame(l,schema = """dummy STRING""")

In [12]:
df.select(lpad(lit('Hello'),10,'-').alias('dummy')).show()

+----------+
|     dummy|
+----------+
|-----Hello|
+----------+

In [13]:
employees = [(1, "Scott", "Tiger", 1000.0, 
                      "united states", "+1 123 456 7890", "123 45 6789"
                     ),
                     (2, "Henry", "Ford", 1250.0, 
                      "India", "+91 234 567 8901", "456 78 9123"
                     ),
                     (3, "Nick", "Junior", 750.0, 
                      "united KINGDOM", "+44 111 111 1111", "222 33 4444"
                     ),
                     (4, "Bill", "Gomes", 1500.0, 
                      "AUSTRALIA", "+61 987 654 3210", "789 12 6118"
                     )
                ]

In [14]:
employeesDF = spark.createDataFrame(employees).toDF('emp_id','fname','lname','salary','country','phone','ssn')

In [15]:
employeesDF.show()

+------+-----+------+------+--------------+----------------+-----------+
|emp_id|fname| lname|salary|       country|           phone|        ssn|
+------+-----+------+------+--------------+----------------+-----------+
|     1|Scott| Tiger|1000.0| united states| +1 123 456 7890|123 45 6789|
|     2|Henry|  Ford|1250.0|         India|+91 234 567 8901|456 78 9123|
|     3| Nick|Junior| 750.0|united KINGDOM|+44 111 111 1111|222 33 4444|
|     4| Bill| Gomes|1500.0|     AUSTRALIA|+61 987 654 3210|789 12 6118|
+------+-----+------+------+--------------+----------------+-----------+

In [16]:
employeesDF.printSchema()

root
 |-- emp_id: long (nullable = true)
 |-- fname: string (nullable = true)
 |-- lname: string (nullable = true)
 |-- salary: double (nullable = true)
 |-- country: string (nullable = true)
 |-- phone: string (nullable = true)
 |-- ssn: string (nullable = true)

In [21]:
empFixedDF = employeesDF.select(concat(lpad('emp_id',5,'-'),
                          rpad('fname',10,'-'),
                          rpad('lname',10,'-'),
                          lpad("salary", 10, "0"),
                          rpad('country',15,'-'),
                          rpad('phone',17,'-'),).alias('employee'))

In [22]:
empFixedDF.show(truncate = False)

+-------------------------------------------------------------------+
|employee                                                           |
+-------------------------------------------------------------------+
|----1Scott-----Tiger-----00001000.0united states--+1 123 456 7890--|
|----2Henry-----Ford------00001250.0India----------+91 234 567 8901-|
|----3Nick------Junior----00000750.0united KINGDOM-+44 111 111 1111-|
|----4Bill------Gomes-----00001500.0AUSTRALIA------+61 987 654 3210-|
+-------------------------------------------------------------------+