In [2]:
from pyspark.sql.functions import *
from pyspark.sql import SparkSession

In [4]:
spark = SparkSession.builder.appName('test').getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/08/15 11:19:59 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
23/08/15 11:20:00 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [5]:
l = [('X', )]

In [6]:
df = spark.createDataFrame(l,schema = """dummy STRING""")

In [7]:
df.printSchema()

root
 |-- dummy: string (nullable = true)

In [8]:
df.show()

+-----+
|dummy|
+-----+
|    X|
+-----+

In [12]:
df.select(substring(lit("Hello World"),5,5).alias('substr')).show()

+------+
|substr|
+------+
| o Wor|
+------+

In [13]:
employees = [(1, "Scott", "Tiger", 1000.0, 
                      "united states", "+1 123 456 7890", "123 45 6789"
                     ),
                     (2, "Henry", "Ford", 1250.0, 
                      "India", "+91 234 567 8901", "456 78 9123"
                     ),
                     (3, "Nick", "Junior", 750.0, 
                      "united KINGDOM", "+44 111 111 1111", "222 33 4444"
                     ),
                     (4, "Bill", "Gomes", 1500.0, 
                      "AUSTRALIA", "+61 987 654 3210", "789 12 6118"
                     )
                ]

In [14]:
employeesDF = spark. \
    createDataFrame(employees,
                    schema="""employee_id INT, first_name STRING, 
                    last_name STRING, salary FLOAT, nationality STRING,
                    phone_number STRING, ssn STRING"""
                   )

In [15]:
employeesDF.show(truncate=False)

+-----------+----------+---------+------+--------------+----------------+-----------+
|employee_id|first_name|last_name|salary|nationality   |phone_number    |ssn        |
+-----------+----------+---------+------+--------------+----------------+-----------+
|1          |Scott     |Tiger    |1000.0|united states |+1 123 456 7890 |123 45 6789|
|2          |Henry     |Ford     |1250.0|India         |+91 234 567 8901|456 78 9123|
|3          |Nick      |Junior   |750.0 |united KINGDOM|+44 111 111 1111|222 33 4444|
|4          |Bill      |Gomes    |1500.0|AUSTRALIA     |+61 987 654 3210|789 12 6118|
+-----------+----------+---------+------+--------------+----------------+-----------+

In [31]:
employeesDF. \
    select('employee_id','phone_number','ssn'). \
    withColumn('last 4 digits phone',substring(col('phone_number'),-4,4).cast("int")). \
    withColumn('last 4 digits SSN',substring(col('ssn'),7,4).cast("int")). \
    show()

+-----------+----------------+-----------+-------------------+-----------------+
|employee_id|    phone_number|        ssn|last 4 digits phone|last 4 digits SSN|
+-----------+----------------+-----------+-------------------+-----------------+
|          1| +1 123 456 7890|123 45 6789|               7890|              678|
|          2|+91 234 567 8901|456 78 9123|               8901|              912|
|          3|+44 111 111 1111|222 33 4444|               1111|              444|
|          4|+61 987 654 3210|789 12 6118|               3210|              611|
+-----------+----------------+-----------+-------------------+-----------------+

In [32]:
employeesDF. \
    select('employee_id','phone_number','ssn'). \
    withColumn('last 4 digits phone',substring(col('phone_number'),-4,4).cast("int")). \
    withColumn('last 4 digits SSN',substring(col('ssn'),7,4).cast("int")). \
    printSchema()

root
 |-- employee_id: integer (nullable = true)
 |-- phone_number: string (nullable = true)
 |-- ssn: string (nullable = true)
 |-- last 4 digits phone: integer (nullable = true)
 |-- last 4 digits SSN: integer (nullable = true)