In [1]:
from pyspark.sql.functions import *
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName('Test').getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/08/18 15:21:14 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [3]:
l = [("X",)]

In [5]:
df = spark.createDataFrame(l).toDF('dummy')

In [6]:
df.show()

+-----+
|dummy|
+-----+
|    X|
+-----+

In [7]:
df.printSchema()

root
 |-- dummy: string (nullable = true)

In [8]:
datetimes = [(20140228, "2014-02-28", "2014-02-28 10:00:00.123"),
                     (20160229, "2016-02-29", "2016-02-29 08:08:08.999"),
                     (20171031, "2017-10-31", "2017-12-31 11:59:59.123"),
                     (20191130, "2019-11-30", "2019-08-31 00:00:00.000")
                ]

In [12]:
datetimeDF = spark.createDataFrame(datetimes).toDF('dateid','date','time')

In [14]:
datetimeDF.show(truncate = False)

+--------+----------+-----------------------+
|dateid  |date      |time                   |
+--------+----------+-----------------------+
|20140228|2014-02-28|2014-02-28 10:00:00.123|
|20160229|2016-02-29|2016-02-29 08:08:08.999|
|20171031|2017-10-31|2017-12-31 11:59:59.123|
|20191130|2019-11-30|2019-08-31 00:00:00.000|
+--------+----------+-----------------------+

In [20]:
datetimeDF. \
    withColumn("unix_date_id", unix_timestamp(col("dateid").cast("string"), "yyyyMMdd")). \
    withColumn("unix_date", unix_timestamp("date", "yyyy-MM-dd")). \
    show()

+--------+----------+--------------------+------------+----------+
|  dateid|      date|                time|unix_date_id| unix_date|
+--------+----------+--------------------+------------+----------+
|20140228|2014-02-28|2014-02-28 10:00:...|  1393545600|1393545600|
|20160229|2016-02-29|2016-02-29 08:08:...|  1456704000|1456704000|
|20171031|2017-10-31|2017-12-31 11:59:...|  1509408000|1509408000|
|20191130|2019-11-30|2019-08-31 00:00:...|  1575072000|1575072000|
+--------+----------+--------------------+------------+----------+

In [21]:
unixtimes = [(1393561800, ),
             (1456713488, ),
             (1514701799, ),
             (1567189800, )
            ]

In [26]:
unixtimesDF = spark.createDataFrame(unixtimes).toDF('unixtime')

In [27]:
unixtimesDF.show()

+----------+
|  unixtime|
+----------+
|1393561800|
|1456713488|
|1514701799|
|1567189800|
+----------+

In [28]:
unixtimesDF. \
    withColumn("date", from_unixtime("unixtime", "yyyyMMdd")). \
    withColumn("time", from_unixtime("unixtime")). \
    show()
#yyyyMMdd

+----------+--------+-------------------+
|  unixtime|    date|               time|
+----------+--------+-------------------+
|1393561800|20140228|2014-02-28 04:30:00|
|1456713488|20160229|2016-02-29 02:38:08|
|1514701799|20171231|2017-12-31 06:29:59|
|1567189800|20190830|2019-08-30 18:30:00|
+----------+--------+-------------------+